#root {
  margin: 0 auto;
  text-align: center;
}

/* for the search bar component */
.search-container {
  position: relative;
  width: 400px; 
  margin: 0 auto; 
}

/* style for the dropdown list */
.suggestions-list {
  position: absolute;
  top: 100%; 
  left: 0;
  right: 0;
  border-top: none;
  border-radius: 0 0 4px 4px;
  list-style-type: disc;
  margin: 0;
  padding: 0;
  max-height: 200px; 
  overflow-y: auto;
  z-index: 1000; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* style for each item in the list */
.suggestion-item {
  width: 80%; 
  cursor: pointer;
  padding: 5px;
  text-align: left;
  border-color: #f0f0f087;
}

/* add a hover effect for each item */
.suggestion-item:hover {
  background-color: #f0f0f087;
  border-radius: 4px;
}

/* styles for the header */
.header-container {
  padding: 0.75%;
  position: fixed;
  display: flex;
  align-items: center; 
  top: 1%;
  left: 1%;
  right: 1%;
  height: 4.5%;
  border-radius: 4px;
  background-color: #f0f0f028;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
}

/* hold items on the rights side of the header */
.right-header-container {
  float: right;
  padding-left: 83%;
}

.header-logo {
  height: 100%;
}

/* styles for droppable containers */
.droppable-container {
  border: 1px solid #d1d5db; /* a soft gray */
  border-radius: 8px;         /* rounded corners */
  padding: 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  
  /* this is just for looks: ensures a minimum height */
  min-height: 150px; 
}

