.dot-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: var(--color-bg-page);
  }
  
  .dot-grid__wrap {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .dot-grid__canvas {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  