.home-screen-container {
  width: 100%;
  min-height: calc(100vh + 1px);
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg-page);
  padding-top: 72px; /* leave room under global nav */
}

.search-wrapper {
  flex: 1;
  padding-bottom: 60px;
}

