.search-bar-container {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    width: 30%;
    max-width: 600px;
    z-index: 8;
    box-sizing: border-box;
}

.search-wrapper {
    display: flex;
    flex-direction: column; 
    align-items: center;   
    gap: 1rem;      
  }

.search-bar-title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center; /* Vertically centers the input and button */
    padding: 14px 16px;
    background-color: rgba(255, 255, 255, 0.1); /* A light, clean background */
    border-radius: 500px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); 
    border: 1px solid #000000;
    height: 55px;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box; 
    outline: none;
    font-size: large;
}